.alex-edd-features {
  padding: 130px 0 80px 0;
  background-color: #12161e;
  .container {
    max-width: 1200px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .col-lg-4,
  .col-lg-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-lg-4 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.download-single-content-wrapper .single-cart-btn,
.download-content-wrapper .download-content .direct-cart,
html .formcraft-css .fc-form .form-element .submit-cover .submit-button,
.download-single-content-wrapper .download-item-price .edd_price_options .edd_price_option_price
{
  font-family: 'Josefin Sans', Helvetica,Arial,Lucida,sans-serif;
}
.download-item-content .edd_download_purchase_form {
  display: none;
}
.single.single-download .et_pb_section,
.archive.et-db #et-boc .et-l .et_pb_section{
  padding: 0 !important;
}
.archive-title {
  font-weight: 700;
  font-size: 32px;
  color: #a1e0f7;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 50px;
}
.download-content-wrapper {
  .download-content {
    text-align: center;
    background-color: #0a1128;
    margin-bottom: 15px;
    .download-title {
      font-weight: 700;
      font-size: 18px;
      color: #a1e0f7;
      text-transform: uppercase;
      margin-top: 15px;
    }
    .download-price {
      font-size: 24px;
      color: #FFFFFF;
      margin: 15px 0;
    }
    .direct-cart {
      background-color: #1285A5;
      display: block;
      height: 50px;
      line-height: 50px;
      color: #fff;
      font-size: 15px;
      font-weight: 600;
      letter-spacing: 4px;
      transition: all 0.3s ease-in-out;
      text-transform: uppercase;
      &:hover{
        background-color: #A1E0F7;
      }
    }
  }
}
.download-single-content-wrapper{
  .breadcrumbs {
    font-size: 14px;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  .breadcrumbs a {
    color: #FFFFFF;
  }
  .breadcrumbs .breadcrumbs__current {
    color: #a1e0f7;
  }
  .breadcrumbs span {
    display: inline;
    padding-right: 5px;
    margin-right: 5px;
  }
  h2.download-item-title {
    font-size: 42px;
    line-height: 1.2;
    color: #a1e0f7;
    text-transform: uppercase;
    font-weight: 700;
  }
  .plan-title,
  .edd_price {
    color: #f6fafc;
    font-size: 27px;
  }
  .download-item-content {
    color: #FFFFFF;
    margin: 10px 0 50px 0;
  }
  .download-item-price {
    .edd_price_options{
      color: #f6fafc;
      font-size: 14px;
      position: relative;
      > ul > li{
        margin-bottom: 15px;
      }
      .edd_price_option_price {
        font-size: 16px;
        color: #a1e0f7;
      }
    }
  }
  .download-thumb {
    padding: 50px;
  }
  .single-cart-btn {
    margin-top: 25px;
    background-color: #1285A5;
    display: inline-block;
    width: 330px;
    text-align: center;
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 4px;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    &:hover{
      background-color: #A1E0F7;
    }
  }
}
.edd-page.edd-checkout #main-content{
  background-color: #080D21;
  .main_title {
    text-transform: uppercase;
    color: #fff;
  }
  #edd_secure_site_wrapper {
    text-align: center;
    background-color: #1285a5;
    color: #ffffff;
    margin-bottom: 20px;
    width: 100%;
  }
  .container{
    max-width: 730px;
    width: 100%;
  }
  #edd_checkout_form_wrap input.edd-input, #edd_checkout_form_wrap textarea.edd-input {
    display: inline-block;
    width: 100%;
    &::placeholder{
      font-size: 14px;
    }
  }
  .edd-stripe-card-element.StripeElement, .edd-stripe-card-exp-element.StripeElement, .edd-stripe-card-cvc-element.StripeElement {
    width: 690px;
    margin-top: 10px;
  }
}
.ElementsApp, .ElementsApp .InputElement {
  font-size: 14px;
}
#edd_checkout_form_wrap fieldset {
  border: 1px solid #1285A5;
  padding: 1.387em;
  margin: 0 0 21px;
  background: #0A1128;
}
#edd_checkout_form_wrap legend {
  display: block;
  font-size: 24px;
  line-height: 10px;
  font-weight: 600;
  width: 100%;
  margin: 0 0 21px;
  padding: 0;
  color: #ffffff;
}
#edd_checkout_user_info input{
  outline: none;
  border-radius: 6px;
  color: #0a1128;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #1285A5;
}
#edd_checkout_form_wrap input[type=email], #edd_checkout_form_wrap input[type=password], #edd_checkout_form_wrap input[type=tel], #edd_checkout_form_wrap input[type=text], #edd_checkout_form_wrap textarea {
  padding: 10px 20px;
}
#edd_checkout_form_wrap label {
  font-weight: 700;
  display: block;
  position: relative;
  line-height: 100%;
  font-size: 95%;
  margin: 0 0 5px;
  color: #FFFFFF;
}

#edd-purchase-button, .edd-submit, [type=submit].edd-submit {
  background-color: #F14D5D;
  padding: 1.2rem 4rem;
  line-height: 30px;
  color: #fff;
  outline: none;
  font-weight: 600;
  border-radius: 5px;
}
#edd_checkout_cart .edd_cart_header_row th {
  background: #fff;
  padding: 1.387em;
  border: none;
  border-bottom: 1px solid #1285A5;
}
#edd_checkout_cart td, #edd_checkout_cart th {
  text-align: left;
  border: none;
  color: #FFFFFF;
  padding: 1.387em;
  border-bottom: 1px solid #1285A5;
}
#edd_checkout_cart .edd_cart_header_row th {
  background: #fff;
  padding: 1.387em;
  border: none;
  border-bottom: 1px solid #1285A5;
  color: #fff;
}
#edd_checkout_form_wrap .edd-payment-icons {
  height: 45px;
  display: block;
  margin: 0 0 8px;
}
#edd_checkout_form_wrap fieldset#edd_cc_fields {
  border: 1px solid #1285A5;
  background: #0A1128;
  position: relative;
}
#edd-card-name-wrap input{

  outline: none;
  border-radius: 6px;
  font-size: 13px;
  color: #0a1128;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #1285A5;
}
#edd-card-address-wrap input{
  background-color: #ffffff;
  border: 1px solid #1285A5;
}
#edd-card-address-2-wrap input{
  background-color: #ffffff;
  border: 1px solid #1285A5;
}
#edd-card-city-wrap input{
  background-color: #ffffff;
  border: 1px solid #1285A5;
}
#edd-card-zip-wrap input{
  background-color: #ffffff;
  border: 1px solid #1285A5;
}
#edd-card-country-wrap select{
  background-color: #ffffff;
  border: 1px solid #1285A5;
}

#edd-card-state-wrap select{
  background-color: #ffffff;
  border: 1px solid #1285A5;
}
#edd_checkout_form_wrap select.edd-select {
  display: block;
  width: 100%;
  padding:10px 20px;
}
#edd-card-number-wrap input{
  background-color: #ffffff;
  border: 1px solid #1285A5;
}
#edd-card-cvc-wrap input{
  background-color: #ffffff;
  border: 1px solid #1285A5;
}
.card-expiration select{
  background-color: #F5F5F5;
  border: 1px solid #1285A5;
}
.edd-cart-number-of-items {
  font-style: italic;
  color: grey;
  text-align: center;
  margin-top: 40px;
}
#edd_checkout_form_wrap span.edd-description {
  color: #cbcfe1;
}
.edd-cart {
  text-align: center;
  margin-bottom: 40px;
}
li.edd-cart-item {
  border-bottom: 1px solid #1285A5;
  padding: 10px 0px;
}
.edd-cart .edd-cart-meta.edd_subtotal, .edd-cart-meta.edd_total {
  padding: 10px 0px;
  background-color:transparent;
  border-bottom: 1px solid #1285A5;
}
tr.edd_cart_header_row {
  border: 1px solid #1285A5;
}
#edd_checkout_cart .edd_cart_header_row th {
  background: #0A1128;
  padding: 1.387em;
}
#edd_checkout_cart td, #edd_checkout_cart th {
  text-align: left;
  border: 1px solid #1285A5;
  color: #fff;
  padding: .5em 1.387em;
}
#edd_checkout_cart td {
  line-height: 25px;
  vertical-align: middle;
  background: #0a1128;
}
#edd_checkout_cart td img {
  margin: 0 50px 0 0;
  width: 100px;
}
#edd_checkout_form_wrap #edd-login-account-wrap,
#edd_checkout_form_wrap #edd-new-account-wrap,
#edd_checkout_form_wrap #edd_final_total_wrap,
#edd_checkout_form_wrap #edd_show_discount,
#edd_checkout_form_wrap .edd-cart-adjustment {
  background: #1285A5;
  color: #fff;
  padding: .5em 1.387em;
}
#edd-card-wrap {
  position: relative;
  width: 70%;
}
span.edd_empty_cart {
  font-size: 80px;
  color: #fff;
}